html {
    scroll-behavior: smooth;
  }
  
  body {
    font-family: 'Manrope', sans-serif;
    font-style: normal;
line-height: normal;
  }

  .container {
    margin: 0 auto;
    padding: 0 0;
    max-width: 1150px;
  }

  .header{
    margin-bottom: 69px; 
  }

  .header__inner {
    margin-top: 32.82px;
    display: flex;
    justify-content: space-between;
  }

  .logo__link {
    display: inline-block;
  }

  .nav__list {
    margin-top: 3px;
    display: flex;
    gap: 0 60px;
  }

  .logo {
    display: block;
    width: 127px;
  }

  .nav__link {
  
    color: #121212;
    text-decoration: none;
    font-size: 18px;
    font-weight: 400;
    letter-spacing: -0.54px;
  }
  
  .nav__link_active {
    color:#000000;
    border-bottom: 1px solid #000000;
  }

.hero {
margin-bottom: 150px;
}

  .hero__title-text {
    color: #121212;
    margin-bottom: 30px;
    max-width: 956px;
    font-size: 60px;
    font-style: normal;
    font-weight: 400;
    line-height: 60px; 
    letter-spacing: -1.8px;
  }

.hero__box {
    position: relative;
    max-width: 1150px;
    height: 500px;
    background-image: url('../resources/photodivan.png');
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .hero__box-text {
  max-width: 430px;
  position: absolute;
  bottom: 40px;
  left: 40px;
  color: #fff;
  font-size: 20px;
  letter-spacing: -0.6px;
  }

.about {
  margin-bottom: 150px;
}

.about__title {
  margin-bottom: 30px;
  color: #121212;
font-size: 18px;
letter-spacing: -0.54px;
text-transform: uppercase;
}

.about__box {
  margin-bottom: 24px;
}

.about__text {
  max-width: 1048px;
  color: var(--Text, #121212);
font-size: 45px;
letter-spacing: -1.35px;
}

.about__btn { 
  display: inline-block;
  padding: 20px 40px;
  border-radius: 5px;
  background: var(--Accent, #ad1818);
  color: #fff;
  font-size: 20px;
  letter-spacing: -0.6px;
  cursor: pointer;
  text-decoration: none;
}

/*
.projects {

}
*/

.projects__title {
  margin-bottom: 30px;
  color: #121212;
font-size: 18px;
letter-spacing: -0.54px;
text-transform: uppercase;
}

.projects__item {
  margin-bottom: 83px;
}

.projects__item-image {
  width: 100%;
  margin-bottom: 15px;
}

.projects__item-description {
  margin-bottom: 15px;
  color: #121212;
font-size: 30px;
letter-spacing: -0.9px;
}

.projects__item-link {
  color: var(--Accent, #AD1818);
font-size: 20px;
letter-spacing: -0.6px;
text-decoration: none;
}

.projects__btn {
  margin-bottom: 150px;
  width: 100%;
  height: 153px;
  border-radius: 5px;
  border: 1px solid var(--Accent, #AD1818);
  color: var(--Accent, #AD1818);
  background-color: #fff;
  font-size: 30px;
  cursor: pointer;
}

.projects__btn:hover {
  color: #fff;
  background-color: #AD1818;
}

.services {
  background-color: #121212;
  padding-top: 157px;
}

.services__title {
  margin-bottom: 30px;
  color: #FFF;
  font-size: 18px;
  letter-spacing: -0.54px;
}

.services__box-img-box {
  display: flex;
    flex-wrap: wrap;
    column-gap: 11px;
    row-gap: 145.64px;
}

.services__box {
  width: calc(50% - 5.5px);
  height: 388px;
}

.services__box_1 {
  background-image: url('/new_module-1/resources/service-1.png'), 
  url('/new_module-1/resources/service-2.png'), url(/new_module-1/resources/service-3.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.services__box_2 {
  background-image: url('/new_module-1/resources/service-2.png'), 
  url('/new_module-1/resources/service-2.png'), url(/new_module-1/resources/service-3.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.services__box_3 {
  background-image: url('/new_module-1/resources/service-3.png'), 
  url('/new_module-1/resources/service-2.png'), url(/new_module-1/resources/service-3.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.services__box_4 {
  background-image: url('/new_module-1/resources/service-4.png'), 
  url('/new_module-1/resources/service-2.png'), url(/new_module-1/resources/service-3.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.services__box-img {
  max-width: 100%;
  max-height: 100%;
}

.lable-wrapper {
  margin-bottom: 341.45px;
  padding-left: 30px;
  padding-top: 31.51px;
}

.lable {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 211px;
  height: 40px;
  border-radius: 5px;
  background: #AD1818;
}

.lable-text {
  color: #FFF;
  font-size: 22px;
  letter-spacing: -0.66px;  
}

.services__box-text {
  margin-left: 3px;
  color: #FFF;
  font-size: 30px;
  font-weight: 400;
  letter-spacing: -0.9px;
}

.services__btn {
  margin-top: 169.82px;
  margin-bottom: 150px;
  width: 100%;
  height: 153px;
  border-radius: 5px;
  color: var(--Accent, #FFF);
  border: 1px solid #AD1818;
  background-color: #AD1818;
  font-size: 30px;
  font-weight: 400;
  cursor: pointer;
  letter-spacing: -0.9px;
}

.reviews__title {
  margin-bottom: 30px;
  color: #121212;
  font-size: 18px;
  font-style: normal;
  line-height: normal;
  letter-spacing: -0.54px;
  text-transform: uppercase;
}

.reviews__inner {
  margin-top: 150px;
}

.row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
}

.col {
  width: calc(50% - 20px);
}

.reviews {width: 100%;}

.reviews__box {
  width: 100%;
}

.reviews__box_big {
  max-width: 861px;
  margin-bottom: 100px;
}

.reviews__box-title {
  margin-bottom: 14px;
  color: #000;
font-size: 45px;
font-style: normal;
line-height: normal;
letter-spacing: -1.35px;
}

.reviews__box-text {
  color: #000;
font-size: 22px;
font-style: normal;
line-height: normal;
letter-spacing: -0.66px;
}

.project {
  min-width: 1400px;
  position: relative;
  height: 717px;
  background-image: url('../resources/interrier.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50%;
}

.project__text {
  width: 443px;
  height: 82px;
  position: absolute;
  bottom: 60px;
  color: #FFF;
  font-size: 30px;
  font-weight: 400;
  letter-spacing: -0.9px;
  line-height: normal;
}

.gallery {
  position: relative;
}

.gallery__title-wrapper {
  position: absolute;
  width: 100%;
  top: 67px;
  z-index: 100;
}

.gallery__title {
  color: white;
  font-size: 22px;
  letter-spacing: -0.66px;
  text-transform: uppercase;
}

.gallery__slides {
  position: relative;
}

.gallery__slide {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
}

.gallery__slide_active {
  opacity: 1;
}

.galleery__controls-wrapper {
  position: absolute;
  top: 515px;
  width: 100%;
}

.gallery__controls {
  display: flex;
}

.box {
  height: 717px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50%;
}

.box__title-wrapper {
  position: absolute;
  width: 443px;
  top: 575px;
  z-index: 100;
}

.box-title {
  color: white;
  font-size: 30px;
  letter-spacing: -0.9px;
}

.box_green {
  background-image: url('../resources/gallery-1.png');
}

.box_red {
background-image: url('../resources/gallery-2.png');}

.box_blue {
background-image: url('../resources/gallery-3.png');}

.box_jksever {
  background-image: url('../resources/gallery-4.png');
}

.contacts {
  height: 459px;
}

.contacts__box {
  margin-top: 190px;
}

.contacts__title {
  margin-bottom: 36px;
  color: #121212;
  font-size: 18px;
  font-weight: 400;
  letter-spacing: -0.54px;
  text-transform: uppercase;
}

.contacts__title::before {
  content: '';
  display: block;
  background-image: url(../resources/iphone.png);
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  width: 24px;
  height: 24px;
  left: -5px;
  bottom: 34px;
}

.contacts__phone-box {
  margin-bottom: 30px;
}

.contacts__phone {
  color: #121212;
  font-size: 60px;
  font-weight: 400;
  line-height: 60px; /* 100% */
  letter-spacing: -1.1px;
  text-decoration: none;
}

.contacts__email {
  color: #121212;
  font-size: 60px;
  font-weight: 400;
  line-height: 60px; /* 100% */
  letter-spacing: -1.8px;
  opacity: 0.5;
  text-decoration: none;
  border-bottom: 2px solid #121212;
}

.footer {
  background-color: #121212;
  height: 229px;
  min-width: 1400px;
  width: 100%;
}

.footer__nav-link {
  margin-top: 60px;
  margin-bottom: 93px;
  display: inline-block;
  color: #FFF;
  font-size: 18px;
  font-weight: 400;
  letter-spacing: -0.54px;
  text-decoration: none;
}

.footer__nav-link:last-child {
  margin-right: 0;
}

.footer__nav-link_active {
  opacity: 0.5;
}

.footer__text {
  color: #FFF;
  text-align: center;
  font-size: 20px;
  font-weight: 400;
  letter-spacing: -0.7px;
  opacity: 0.5;
}

.footer__box {
  display: flex;
  justify-content: center;
}



@media (max-width: 961px) {
  .container {
    padding: 15px 15px;
    max-width: 100%;
  }

  .hero {
    margin-bottom: 120px;
    }

  .hero__title-text {
    max-width: 802px;
    font-size: 50px;
    letter-spacing: -1.5px;
  }

  .hero__box-text {
    position: absolute;
    bottom: 30px;
    left: 42px;
    }

    .hero__box {
      position: relative;
      width: 100%;
      height: 400px;
    }

    .about {
      margin-bottom: 120px;
    }

    .about__text {
      max-width: 690px;
      font-size: 35px;
    letter-spacing: -1.05px;
    }
    

  .about__box {
    width: 100%;
  }

  .about__title {
    margin-bottom: 30px;
  font-size: 18px;
  letter-spacing: -0.54px;
  }

  .projects__item {
    margin-bottom: 80px;
  }

  .projects__item-image {
    width: 100%;
  }

  .projects__item-description {
    margin-bottom: 10px;
  font-size: 25px;
  letter-spacing: -0.75px;
  }

  .projects__btn {
    margin-bottom: 100px;
  }
  
  .services {
    padding-top: 151px;
  }

  .services__box-img-box {
      column-gap: 10px;
      row-gap: 129px;
  }
  
  .services__box {
    width: calc(50% - 5px);
    height: 315px;
  }
  
  .lable-wrapper {
    margin-bottom: 259px;
    padding-left: 31px;
    padding-top: 32px;
  }

  .lable-text {
    font-size: 20px;
    letter-spacing: -0.6px;  
  }


  .services__btn {
    margin-top: 128px;
    margin-bottom: 120px;
  }

  .row {
    margin-bottom: 80px;
  }
  
  .reviews__inner {
    margin-top: 120px;
  }

  .reviews__box-title {
    margin-bottom: 25px;
  font-size: 35px;
  letter-spacing: -1.05px;
  }

  .reviews__box-text {
  font-size: 20px;
  letter-spacing: -0.6px;
  }

  .reviews__box_big {
    max-width: 694px;
    margin-bottom: 40px;
  }

  .gallery__title-wrapper {
    top: 80px;
  }

  .gallery__title {
    font-size: 20px;
    letter-spacing: -0.6px;
  }

  .galleery__controls-wrapper {
    top: 344px;
  }
  
  .box {
    height: 536px;
  }

  .box__title-wrapper {
    width: 377px;
    top: 408px;
  }
  
  .box-title {
    font-size: 25px;
    letter-spacing: -0.75px;
    }

}

@media (max-width: 431px) {
  .container {
    padding: 13px 12px;
  }

  .hero__title-text {
    max-width: 348px;
    font-size: 30px;
    line-height: 31.621px; /* 105.402% */
    letter-spacing: -0.9px;
  }

  .hero {
    margin-bottom: 80px;
    }

  .hero__box-text {
    width: 312px;
    position: absolute;
    bottom: 15px;
    left: 15px;
    font-size: 16px;
    letter-spacing: -0.48px;
    }

    .hero__box {
      width: 100%;
      height: 304px;
    }

    .about {
      margin-bottom: 80px;
    }

    .about__text {
      max-width: 346px;
      font-size: 22px;
    letter-spacing: -0.66px;
    }
    
    .about__title {
      margin-bottom: 20px;
    font-size: 14px;
    letter-spacing: -0.42px;
    }

  .about__box {
    width: 100%;
  }

  .about__btn { 
    padding: 15.207px 30.414px;
    border-radius: 3.802px;
    font-size: 16px;
    letter-spacing: -0.48px;
  }

  .projects__title {
    margin-bottom: 20px;
  font-size: 14px;
  letter-spacing: -0.42px;
  }

  .projects__item {
    margin-bottom: 49px;
  }

  .projects__item-image {
    width: 100%;
    margin-bottom: 20px;
  }

  .projects__item-description {
    margin-bottom: 11px;
  font-size: 18px;
  letter-spacing: -0.54px;
  }

  .projects__item-link {
  font-size: 16px;
  letter-spacing: -0.48px;
  }

  .projects__btn {
    margin-bottom: 80px;
    height: 100px;
    border-radius: 3.802px;
    font-size: 22px;
    cursor: pointer;
  }
  
  .services {
    padding-top: 80px;
  }

  .services__box-img-box {
    row-gap: 94px;
}

.services__box {
  width: 100%;
  height: 240px;}

.lable-wrapper {
  margin-bottom: 197px;
  padding-left: 23px;
  padding-top: 24px;
}

.lable {
  max-width: 160px;
  height: 30px;
}

.lable-text {
  font-size: 14px;
  letter-spacing: -0.42px;  
}

.services__btn {
  margin-top: 93—Åpx;
  margin-bottom: 80px;
  height: 100px;
  border-radius: 3.802px;
  font-size: 22px;
  letter-spacing: -0.66px;
}

.row {
  flex-direction: column;
gap: 80px;}

.col {
  width: 100%;
}

.reviews__inner {
  margin-top: 80px;
}

.reviews__title {
  margin-bottom: 22px;
  font-size: 14px;
  letter-spacing: -0.42px;
}

.reviews__box-title {
  margin-bottom: 10px;
font-size: 25px;
letter-spacing: 0.75px;
}

.reviews__box-text {
  font-size: 16px;
  letter-spacing: -0.48px;
  }

  .reviews__box_big {
    width: 100%;
    margin-bottom: 0;
  }

  .gallery__title-wrapper {
    top: 61px;
  }

  .gallery__title {
    font-size: 14px;
    letter-spacing: -0.42px;
  }

  .galleery__controls-wrapper {
    top: 189px;
  }

  .gallery__controls {
justify-content: space-between;  }

.box {
  height: 408px;
}

.box__title-wrapper {
  width: 287px;
  top: 296px;
}

.box-title {
  font-size: 19.009px;
  letter-spacing: -0.57px;
  }


}
