html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Manrope', sans-serif;
}

.hero {
  margin-bottom: 150px;
}

.hero__title {
  color: #121212;
  margin-bottom: 30px;
  /* H1 */
  width: 956px;
  font-family: Manrope;
  font-size: 60px;
  font-style: normal;
  font-weight: 400;
  line-height: 60px; /* 100% */
  letter-spacing: -1.8px;
}

.about__title {
  color: #121212;
  font-family: Manrope;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.54px;
  text-transform: uppercase;
  margin-bottom: 30px;
}

.hero__box {
  position: relative;
  width: 100%;
  height: 500px;
}

/*
.title__img {
  position: absolute;
  bottom: 40px;
  left: 40px;
  width: 430px;
  height: 81px;
  color: white;
  
}
*/

.hero__box-text {
  width: 430px;
  color: #FFF;
  position: absolute;
  bottom: 40px;
  left: 40px;
  font-family: Manrope;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.6px;
}

.about__btn {
  margin-bottom: 150px;
  display: inline-block;
  padding: 20px 40px;
  border-radius: 5px;
  background: var(--Accent, #ad1818);
  color: #fff;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.6px;
  cursor: pointer;
  text-decoration: none;
  
}

.about__text {
  width: 1048px;
  font-size: 45px;
  font-weight: 400;
  line-height: 61px;
  letter-spacing: -0.03em;
  margin-bottom: 30px;
}

.projects__item{
  margin-bottom: 90px;
}

.projects__title {
  margin-bottom: 30px;
}

.projects__item-image {
  margin-bottom: 15px;
  
}

.projects__item-description {
  margin-bottom: 15px;
  font-size: 30px;
  font-weight: 400;
  letter-spacing: -0.9px;
}

.projects__item-link {
  color: var(--Accent, #AD1818);
  font-size: 20px;
  font-weight: 400;
  letter-spacing: -0.6px;
  text-decoration: none;
}

.projects__btn {
  width: 100%;
  margin-bottom: 150px;
  height: 153px;
  border-radius: 5px;
  border: 1px solid var(--Accent, #AD1818);
  color: var(--Accent, #AD1818);
  background-color: #fff;
  font-size: 30px;
  font-weight: 400;
  letter-spacing: -0.9px;
  cursor: pointer;
}

.projects__btn:hover {
  color: #fff;
  background-color: #AD1818;
}

.services {
  min-width: 1400px;
  padding: 151px 127px;
  width: 100%px;
  height: 1844px;
  background-color: #121212;
}

.services__title {
  margin-bottom: 34px;
  padding-left: 2px;
  color: #FFF;
  font-size: 18px;
  font-weight: 400;
  letter-spacing: -0.54px;
}

.services__box {
  margin-bottom: 60px;
}

.section__services:nth-last-child(1) {
  margin-bottom: 0px;
}

.services__box-img {
  margin-bottom: 15px;
  
}

.services__box-text {
  color: #FFF;
  font-size: 30px;
  font-weight: 400;
  letter-spacing: -0.9px;
}


.container {
  max-width: 1150px;
  margin: 0 auto;
  padding: 0 15px;
}

.nav-container {
  margin: 0 auto;
  padding-left: 125.65px;
  padding-top: 32.82px;
}

.header{
  margin-bottom: 70px;

}


.header__inner {
  display: flex;
  justify-content: space-between;
}

.logo__link {
  display: inline-block;
}

.nav__list {
  display: flex;
  gap: 0 60px;
}

.logo {
  display: block;
  width: 127px;
}

.nav-link {
  
  color: #121212;
  text-decoration: none;
  font-size: 18px;
  font-weight: 400;
  letter-spacing: -0.54px;
}

.nav-link_active {
  color:#000000;
  text-decoration: underline;
}

.project {
  min-width: 1400px;
  position: relative;
  height: 717px;
  background-image: url('../resources/interrier.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50%;
}

.project__text {
  width: 443px;
  height: 82px;
  position: absolute;
  left: 125px;
  bottom: 60px;
  color: #FFF;
  font-size: 30px;
  font-weight: 400;
  letter-spacing: -0.9px;
  line-height: normal;
}
