html {
    scroll-behavior: smooth;
  }
  
  body {
    font-family: 'Manrope', sans-serif;
    font-style: normal;
line-height: normal;
  }

  .container {
    margin: 0 auto;
    padding: 0 15px;
    max-width: 1180px;
  }

  .header{
    margin-bottom: 69px; 
  }

  .header__inner {
    position: relative;
    margin-top: 32.82px;
    display: flex;
    justify-content: space-between;
  }

  .logo__link {
    display: inline-block;
  }

  .nav__list {
    margin-top: 3px;
    display: flex;
    gap: 0 60px;
  }

  .logo {
    display: block;
    width: 127px;
  }

  .nav__link {
  
    color: #121212;
    text-decoration: none;
    font-size: 18px;
    font-weight: 400;
    letter-spacing: -0.54px;
  }
  
  .nav__link_active {
    color:#000000;
    border-bottom: 1px solid #000000;
  }

.burger {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: end;
    background-color: rgba(0, 0, 0, 0.9);
    opacity: 0;
    visibility: hidden;
    transition: all 0.2s easy;
}

.burger__content {
  width: 80%;
  height: 100%;
  background-color: white;
}

.burger_open {
  opacity: 1;
  visibility: visible;
  z-index: 10;
}

.burger__btn {
  display: none;
}

.hero {
margin-bottom: 150px;
}

  .hero__title {
    color: #121212;
    margin-bottom: 30px;
    max-width: 956px;
    font-size: 60px;
    font-style: normal;
    font-weight: 400;
    line-height: 60px; 
    letter-spacing: -1.8px;
  }

.hero__box {
    position: relative;
    max-width: 1150px;
    height: 500px;
    background-image: url('../resources/photodivan.png');
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .hero__box-text {
  max-width: 430px;
  position: absolute;
  bottom: 40px;
  left: 40px;
  color: #fff;
  font-size: 20px;
  letter-spacing: -0.6px;
  }

.about {
  margin-bottom: 150px;
}

.about__title {
  margin-bottom: 30px;
  color: #121212;
font-size: 18px;
letter-spacing: -0.54px;
text-transform: uppercase;
}

.about__box {
  margin-bottom: 24px;
}

.about__text {
  max-width: 1048px;
  color: var(--Text, #121212);
font-size: 45px;
letter-spacing: -1.35px;
}

.about__btn { 
  display: inline-block;
  padding: 20px 40px;
  border-radius: 5px;
  background: var(--Accent, #ad1818);
  color: #fff;
  font-size: 20px;
  letter-spacing: -0.6px;
  cursor: pointer;
  text-decoration: none;
}


.projects {
  margin-bottom: 150px;
}


.projects__title {
  margin-bottom: 30px;
  color: #121212;
font-size: 18px;
letter-spacing: -0.54px;
text-transform: uppercase;
}

.projects__item {
  margin-bottom: 83px;
}

.projects__item-image {
  width: 100%;
  margin-bottom: 15px;
}

.projects__item-description {
  margin-bottom: 15px;
  color: #121212;
font-size: 30px;
letter-spacing: -0.9px;
}

.projects__item-link {
  color: var(--Accent, #AD1818);
font-size: 20px;
letter-spacing: -0.6px;
text-decoration: none;
}

.projects__item-box {
  margin-bottom: 90px;
}

.projects__btn {
  width: 100%;
  height: 153px;
  border-radius: 5px;
  border: 1px solid var(--Accent, #AD1818);
  color: var(--Accent, #AD1818);
  background-color: #fff;
  font-size: 30px;
  cursor: pointer;
}

.projects__btn:hover {
  color: #fff;
  background-color: #AD1818;
}

.services {
  background-color: #121212;
  padding-top: 157px;
  padding-bottom: 150px;
}

.services__title {
  margin-bottom: 30px;
  color: #FFF;
  font-size: 18px;
  letter-spacing: -0.54px;
}

.services__box-img-box {
    display: flex;
    flex-wrap: nowrap;
    column-gap: 11px;
    row-gap: 145.64px;
}

.services__box {
  width: 100%;
  height: 388px;
  margin-bottom: 25px;
}

.services__box-img {
  position: relative;
  max-width: 100%;
  max-height: 100%;
}

.services__box-text {
  margin-bottom: 80px;
  margin-left: 3px;
  color: #FFF;
  font-size: 30px;
  font-weight: 400;
  letter-spacing: -0.9px;
}

.lable-wrapper {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 31.51px;
  left: 30px;
  max-width: 211px;
  height: 40px;
  border-radius: 5px;
  background: #AD1818;
}

.lable {
  padding: 20px;
  color: #FFF;
  font-size: 22px;
  letter-spacing: -0.66px;  
}

.services__btn {
  width: 100%;
  height: 153px;
  border-radius: 5px;
  color: var(--Accent, #FFF);
  border: 1px solid #AD1818;
  background-color: #AD1818;
  font-size: 30px;
  font-weight: 400;
  cursor: pointer;
  letter-spacing: -0.9px;
}

.reviews__title {
  margin-bottom: 30px;
  color: #121212;
  font-size: 18px;
  font-style: normal;
  line-height: normal;
  letter-spacing: -0.54px;
  text-transform: uppercase;
}

.reviews {
  margin-top: 150px;
  margin-bottom: 150px;
  width: 100%;
}

.row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
}

.col {
  width: calc(50% - 20px);
}

.row_contacts {
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
}

.reviews__box {
  width: 100%;
}

.reviews__box_big {
  max-width: 861px;
}

.reviews__box-title {
  margin-bottom: 14px;
  color: #000;
font-size: 45px;
font-style: normal;
line-height: normal;
letter-spacing: -1.35px;
}

.reviews__box-text {
  color: #000;
font-size: 22px;
font-style: normal;
line-height: normal;
letter-spacing: -0.66px;
}

.project {
  min-width: 1400px;
  position: relative;
  height: 717px;
  background-image: url('../resources/interrier.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50%;
}

.project__text {
  width: 443px;
  height: 82px;
  position: absolute;
  bottom: 60px;
  color: #FFF;
  font-size: 30px;
  font-weight: 400;
  letter-spacing: -0.9px;
  line-height: normal;
}

.gallery-section {
  position: relative;
}

.gallery {
  position: relative;
  height: 717px;
}

.gallery__title-wrapper {
  position: absolute;
  width: 100%;
  top: 67px;
  z-index: 100;
}

.gallery__title {
  color: white;
  font-size: 22px;
  letter-spacing: -0.66px;
  text-transform: uppercase;
}

.gallery__slides {
  position: relative;
  height: 717px;
}

.gallery__slide {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
}

.gallery__slide_active {
  opacity: 1;
}

.galleery__controls-wrapper {
  position: absolute;
  top: 515px;
  width: 100%;
}

.gallery__controls {
  display: flex;
}

.box {
  height: 717px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50%;
}

.box__title-wrapper {
  position: absolute;
  width: 443px;
  top: 575px;
  z-index: 100;
}

.box-title {
  color: white;
  font-size: 30px;
  letter-spacing: -0.9px;
}

.box_green {
  background-image: url('../resources/gallery-1.png');
}

.box_red {
background-image: url('../resources/gallery-2.png');}

.box_blue {
background-image: url('../resources/gallery-3.png');}

.box_jksever {
  background-image: url('../resources/gallery-4.png');
}

.contacts {
  margin-top: 150px;
  margin-bottom: 150px;
}

.contacts__title {
  margin-bottom: 74px;
  color: #121212;
font-size: 18px;
letter-spacing: -0.54px;
text-transform: uppercase;
}

.contacts__phone {
  color: var(--Text, #121212);
font-size: 45px;
line-height: 60px; /* 133.333% */
letter-spacing: -1.35px;
text-decoration: none;

}

.contacts__phone-box {
  position: absolute;
}

.contacts__phone-box:before{
  position: absolute;
  content: '';
  display: block;
  background-image: url(../resources/iphone.png);
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  width: 24px;
  height: 24px;
  left: -5px;
  bottom: 86px;
}

.contacts__email {
  color: var(--Text, #121212);
/* H1 */
font-size: 60px;
line-height: 60px; /* 100% */
letter-spacing: -1.8px;
opacity: 0.5;
text-decoration: underline;
text-underline-offset: 10px;
}

.contacts__email-box {
  position: absolute;
}

.contacts__email-box::before {
  position: absolute;
  content: '';
  display: block;
  background-image: url(../resources/email.png);
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  width: 24px;
  height: 24px;
  left: -5px;
  bottom: 86px;
}

.footer {
  background-color: #121212;
  height: 229px;
  width: 100%;
}

.footer__nav-link {
  margin-top: 60px;
  margin-bottom: 87px;
  display: inline-block;
  color: #FFF;
  font-size: 18px;
  font-weight: 400;
  letter-spacing: -0.54px;
  text-decoration: none;
}

.footer__nav-link:last-child {
  margin-right: 0;
}

.footer__nav-link_active {
  opacity: 0.5;
}

.footer__text {
  color: #FFF;
  text-align: center;
  font-size: 20px;
  font-weight: 400;
  letter-spacing: -0.7px;
  opacity: 0.5;
}

.footer__box {
  display: flex;
  justify-content: center;
}

.popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.4);
    opacity: 0;
    visibility: hidden;
    transition: all 0.2s easy;
}

.popup_open {
  opacity: 1;
  visibility: visible;
}

.popup__content {
  padding-top: 94px;
  padding-left: 55px;
  padding-right: 74px;
  padding-bottom: 86px;
    position: relative;
    background-color: white;
    width: 777px;
    max-height: 100%;
    border-radius: 10px;
    overflow-y: scroll;
}

.popup__title {
margin-bottom: 4px;
font-size: 45px;
line-height: 61px;
letter-spacing: -0.03em;
text-align: center;
}

.popup__text {
  color: rgb(0, 0, 0);
font-size: 18px;
line-height: 25px;
letter-spacing: -3%;
text-align: center;
margin-bottom: 60px;
}

.popup__close-btn {
  position: absolute;
  width: 50px;
  height: 50px;
  top: 40px;
  right: 52px;
  cursor: pointer;
}



.popup__btn {
  margin-top: 30px;
  width: 100%;
  height: 67px;
  border-radius: 5px;
  background: rgb(173, 24, 24);
  color: rgb(255, 255, 255);
  font-size: 20px;
  line-height: 27px;
  cursor: pointer;
}

.input {
  display: block;
  margin-bottom: 50.5px;
  width: 100%;
  color: rgb(0, 0, 0);
  font-size: 25px;
  line-height: 34px;
  opacity: 0.5;
  border: none;
  border-bottom: 1px solid rgb(0, 0, 0);
}

.input:focus {
  outline: none;
}

@media (max-width: 961px) {
  .container {
    max-width: 100%;
  }

  .burger__btn {
    width: 40px;
    height: 40px;
    right: 0;
    display: block;
    position: absolute;
    background-image: url('../resources/burger.png');
    background-repeat: no-repeat;
    z-index: 100;
  }

 .burger-btn_open {
  background-image: url('../resources/icons_cross.png');
 }

  .nav {
    display: none;
  }

  .hero {
    margin-bottom: 120px;
    }

  .hero__title {
    max-width: 802px;
    font-size: 50px;
    letter-spacing: -1.5px;
  }

  .hero__box-text {
    position: absolute;
    bottom: 30px;
    left: 42px;
    }

    .hero__box {
      position: relative;
      width: 100%;
      height: 400px;
    }

    .about {
      margin-bottom: 120px;
    }

    .about__text {
      max-width: 690px;
      font-size: 35px;
    letter-spacing: -1.05px;
    }
    

  .about__box {
    width: 100%;
  }

  .about__title {
    margin-bottom: 30px;
  font-size: 18px;
  letter-spacing: -0.54px;
  }

  .projects__item {
    margin-bottom: 80px;
  }

  .projects__item-box {
    margin-bottom: 80px;
  }

  .projects__item-description {
    margin-bottom: 10px;
  font-size: 25px;
  letter-spacing: -0.75px;
  }

  .projects {
    margin-bottom: 100px;
  }
  
  .services {
    padding-top: 151px;
    padding-bottom: 120px;
  }
  
  .services__box-img-box {
      display: flex;
      flex-wrap: nowrap;
      column-gap: 10px;
      row-gap: 129px;
  }
  
  .services__box {
    height: 315px;
    margin-bottom: 15px;
  }
  
  .services__box-text {
    margin-left: 0;
    font-size: 25px;
  }
  
  
  .lable-wrapper {
    top: 31px;
    left: 32px;
  }
  
  .lable {
    padding: 25px;
    font-size: 20px;
  }

  .services__btn {
    margin-top: 0;
  }

  .row {
    margin-bottom: 80px;
  }

  .reviews__box-title {
    margin-bottom: 25px;
  font-size: 35px;
  letter-spacing: -1.05px;
  }

  .reviews__box-text {
  font-size: 20px;
  letter-spacing: -0.6px;
  }

  .reviews__box_big {
    max-width: 694px;
  }

  .gallery {
    height: 536px;
  }

  .gallery__title-wrapper {
    top: 80px;
  }

  .gallery__title {
    font-size: 20px;
    letter-spacing: -0.6px;
  }

  .galleery__controls-wrapper {
    top: 344px;
  }
  
  .gallery__slides{
    height: 536px;
  }

  .box {
    height: 536px;
  }

  .box__title-wrapper {
    width: 377px;
    top: 408px;
  }
  
  .box-title {
    font-size: 25px;
    letter-spacing: -0.75px;
    }

    .contacts {
      margin-top: 120px;
      margin-bottom: 120px;
    }
      
      .contacts__phone-box {
        position: absolute;
      }
      
      .contacts__email {
      font-size: 45px;
      line-height: 60px; /* 100% */
      letter-spacing: -1.35px;
      opacity: 0.5;
    }

    .footer {
      max-width: 958px;
    }
    
    .footer__text {
      letter-spacing: -0.6px;
    }
    
    .footer__box {
      display: flex;
      justify-content: center;
    }
  

}


@media (max-width: 431px) {
  .container {
    padding: 13px 12px;
  }

  .hero__title {
    max-width: 348px;
    font-size: 30px;
    line-height: 31.621px; /* 105.402% */
    letter-spacing: -0.9px;
  }

  .hero {
    margin-bottom: 80px;
    }

  .hero__box-text {
    width: 312px;
    position: absolute;
    bottom: 15px;
    left: 15px;
    font-size: 16px;
    letter-spacing: -0.48px;
    }

    .hero__box {
      width: 100%;
      height: 304px;
    }

    .about {
      margin-bottom: 80px;
    }

    .about__text {
      max-width: 346px;
      font-size: 22px;
    letter-spacing: -0.66px;
    }
    
    .about__title {
      margin-bottom: 20px;
    font-size: 14px;
    letter-spacing: -0.42px;
    }

  .about__box {
    width: 100%;
  }

  .about__btn { 
    padding: 15.207px 30.414px;
    border-radius: 3.802px;
    font-size: 16px;
    letter-spacing: -0.48px;
  }

.projects {
  margin-bottom: 80px;
}

  .projects__title {
    margin-bottom: 20px;
  font-size: 14px;
  letter-spacing: -0.42px;
  }

  .projects__item {
    margin-bottom: 49px;
  }

  .projects__item-box {
    margin-bottom: 49px;
  }

  .projects__item-image {
    width: 100%;
    margin-bottom: 20px;
  }

  .projects__item-description {
    margin-bottom: 11px;
  font-size: 18px;
  letter-spacing: -0.54px;
  }

  .projects__item-link {
  font-size: 16px;
  letter-spacing: -0.48px;
  }

  .projects__btn {
    height: 100px;
    border-radius: 3.802px;
    font-size: 22px;
    cursor: pointer;
  }
  
  .services {
    padding-top: 80px;
    padding-bottom: 80px;
  }
  
  .services__title {
    margin-bottom: 20px;
    font-size: 14px;
  }
  
  .services__box-img-box {
      display: flex;
      flex-wrap: wrap;
      row-gap: 0;
  }
  
  .services__box {
    width: 100%;
    margin-bottom: 10px;
  }
  
  .services__box-img {
    position: relative;
    max-width: 100%;
    max-height: 100%;
  }
  
  .services__box-text {
    margin-bottom: 60px;
    font-size: 18px;
  }
  
  .lable-wrapper {
    top: 23px;
    left: 24px;
    max-width: 211px;
    height: 30px;
  }
  
  .lable {
    padding: 23px;
    font-size: 14px;
  }

.services__btn {
  margin-top: 93—Åpx;
  height: 100px;
  border-radius: 3.802px;
  font-size: 22px;
  letter-spacing: -0.66px;
}

.row {
  flex-direction: column;
gap: 80px;}

.col {
  width: 100%;
}

.reviews {
  margin-top: 80px;
  margin-bottom: 0;
}

.reviews__title {
  margin-bottom: 22px;
  font-size: 14px;
  letter-spacing: -0.42px;
}

.reviews__box-title {
  margin-bottom: 10px;
font-size: 25px;
letter-spacing: 0.75px;
}

.reviews__box-text {
  font-size: 16px;
  letter-spacing: -0.48px;
  }

  .reviews__box_big {
    width: 100%;
    margin-bottom: 0;
  }

  .gallery__title-wrapper {
    top: 61px;
  }

  .gallery__title {
    font-size: 14px;
    letter-spacing: -0.42px;
  }

  .galleery__controls-wrapper {
    top: 189px;
  }

  .gallery__controls {
justify-content: space-between;  }

.gallery {
  height: 408px;;
}

.box {
  height: 408px;
}

.gallery__slides {
  height: 408px;
}

.box__title-wrapper {
  width: 287px;
  top: 296px;
}

.box-title {
  font-size: 19.009px;
  letter-spacing: -0.57px;
  }

  .contacts {
    margin-top: 80px;
    margin-bottom: 80px;
  }
    
    .contacts__title {
      margin-bottom: 58px;
    font-size: 14px;
    letter-spacing: -0.42px;
    }
    
    .contacts__phone {
      color: var(--Text, #121212);
    font-size: 35px;
    line-height: 45.62px; /* 133.333% */
    letter-spacing: -0.03em;  
    }
    
    .contacts__phone-box {
      position: absolute;
    }
    
    .contacts__phone-box:before{
      width: 18px;
      height: 18px;
      left: -5px;
      bottom: 66px;
    }
    
    .contacts__email {
    font-size: 35px;
    line-height: 45.621px; /* 100% */
    letter-spacing: -0.03em;
    }
    
    .contacts__email-box {
      position: absolute;
    }
    
    .contacts__email-box::before {
      width: 18px;
      height: 18px;
      left: -5px;
      bottom: 66px;
    }

    .row_contacts {
      flex-direction: column;
      gap: 114px;}

      .footer {
        height: 100%;
        width: 100%;
      }
      
      .footer__nav-link {
        margin-top: 30px;
        margin-bottom: 41px;
        font-size: 12px;
        letter-spacing: -0.36px;
        text-decoration: none;
      }
      
      .footer__text {
        color: #FFF;
        text-align: center;
        font-size: 13px;
        letter-spacing: -0.39px;
        opacity: 0.5;
      }
      
      .footer__box {
        display: flex;
        justify-content: center;
      }

      .nav__list {
        gap: 0 30px;
      }
    
    .popup__content {
      padding-top: 80px;
  padding-left: 16px;
  padding-right: 16px;
  padding-bottom: 80px;
        width: 361px;
    }
    
    .popup__title {
    margin-bottom: 11px;
    font-size: 25px;
    line-height: 34px;
    }
    
    .popup__text {
    font-size: 14px;
    line-height: 19px;
    margin-bottom: 70px;
    }
    
    .popup__close-btn {
      position: absolute;
      width: 20px;
      height: 20px;
      top: 44px;
      right: 33px;
    }

    .input {
      margin-bottom: 40.5px;
      font-size: 18px;
      line-height: 25px;
    }

}





